tick.png=.tick
tick_on.png=.teste li a:hover, .tick-on
tick_on_test.png=.tick .test
tick_off.png=.teste li a, .tick
pencil-title.png
pencil-title-end.png
ico-youtube.png=.elm a.youtube
ico-twitter.png=.elm a.twitter
ico-rss.png=.elm a.rss
ico-facebook.png=.elm a.facebook
close.png
chrome.jpeg
bt_news_close.png
bt-slider-on.png
bt-slider-off.png
bar.png
arrow.jpeg
../sprite.png